//artifactory.zocdoc-ci.com/artifactory/api/npm/npm/:always-auth=true
registry=https://artifactory.zocdoc-ci.com/artifactory/api/npm/npm/
@zocdoc:registry=https://artifactory.zocdoc-ci.com/artifactory/api/npm/npm/
save-prefix='^'
